@import "_var.scss";


html{
    font-family: 'Rajdhani', sans-serif;
    font-size: 10px;
}
img{
    max-width: 100%;
}

body{
    background: $primaryBg;
    font-size: 1.6em;
    color: $primaryColor;
    font-family: 'Helvetica',sans-serif;
    font-weight: 400;
    h1,h2,h3,h4,h5,h6{
        font-family: $headingFont;
        color: $primaryColor;
    }
    h1{
        font-size: 4rem;
        font-weight: 700;
    }
    h2{
        font-size: 3.6rem;
        font-weight: 700;
    }
    a{
        text-decoration: none;
    }
}
.container{
    max-width: calc(1200px + (2 * 8rem ));
    padding: 0 6.5rem;
}

#dreamland{
    #tool{
        svg{
            top: 10rem;
        }
    }
    #dreamcontent{
        top: 60px;
    }
}

#headerMenu{
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10;
    .navWrapper{
        width: calc(100% - 3rem);
        margin: auto;
        nav{
            background: white; 
            border-radius: 10px;    
            padding: .8rem 1rem;
            padding-left: 2rem;
            // padding-right: 2rem;
            box-shadow: 0 5px 12px #00000099;
            .siteLogo{
                img{
                    width: 164px;
                }
            }
            .navCont li{
                a{
                    padding: 2rem 3rem;
                    font-size: 2rem;
                    font-family: $headingFont;
                    font-weight: 700;
                    color: $primaryColor;
                }
                a:hover{
                    color: $btnHoverColor; 
                    border-color: $btnHoverColor;
                }
            }
            .navbar-toggler{
                width: 55px;
                height: 40px;
                .navbar-toggler-icon{
                    width: 30px;
                }
            }
        }
    }
}


// Sticky menu
#headerMenu{
    transition: 0.5s cubic-bezier(0.17, 0.98, 0.37, 0.99);
    &.onSticky{
        top: 0px;
        background: transparent;
        transition: .3s cubic-bezier(0.17, 0.98, 0.37, 0.99), box-shadow .3s cubic-bezier(0.17, 0.98, 0.37, 0.99);
        .navWrapper{
            width: 100%;
            transition: width .3s cubic-bezier(0.17, 0.98, 0.37, 0.99);
            nav{
                border-radius: 0px;
                box-shadow: 0 0 30px #00315640;;
                transition: border-radius .3s cubic-bezier(0.17, 0.98, 0.37, 0.99);
                .navCont{
                    li{
                        a{
                            padding: 1.2rem 3rem;
                        }
                        a:hover{
                            color: $btnHoverColor; 
                            border-color: $btnHoverColor;
                        }
                    }
                }
            }
        }
    }
}


.headerBanner{
    background: url(/assets/img/banner-bg.jpg) no-repeat right;
    background-size: cover;
    min-height: 60rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 9rem;
    .container{
        padding: 0 3rem;
        .headerWrapper{
            max-width: 55%;
            h1{
                font-size: 6.4rem;
                font-weight: 700;
                line-height: 7rem;
                color: $textWhite;
                text-shadow: 0px 3px 8px #000000f2;
            }
            h3{
                font-weight: 700;
                color: #fff;
                text-shadow: 0 3px 6px rgba(0,0,0,0.35);
                text-shadow: 0 .2rem .6rem black,0 .1rem .2rem black;
                margin: 2rem 0 3rem 0;
                max-width: 80rem;
                font-size: 1.8rem;
                line-height: 2.7rem;
            }
        }
    }
}

#section2{
    position: relative;
    background-color: #F5F7F8;
    padding: 6rem 0;
    &::before, &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 5rem;
        background: #f5f7f8;
        z-index: 5;
        top: -1.5rem;
    }
    &::before {
        transform: skewY(.8deg);
    }
    &::after {
        transform: skewY(-.8deg);
    }
    .productGallry{
        padding-right: 5rem;
        .galleryMain {
            box-shadow: 0 0 10px #00315640;
            border-radius: .6rem;
        }
        .slick_slider{
    
            .slick-list{
                .item {
                    height: inherit;
                    margin: 1rem 1.2rem;
                    // box-shadow: 0 0 10px #00315640;
                    img{
                        border-radius: 4px; 
                        box-shadow: 0 0 10px #00315640;
                        transition: all .15s ease-in-out;
                        border-radius: 1rem;
                    }
                }
            }
            .slick-arrow {
                background-color: #009ee2;
                width: 4rem;
                height: 4rem;
                position: absolute;
                z-index: 1;
                width: 4rem;
                height: 4rem;
                background-color: #009ee2;
                border-radius: 50%;
                border: none;
                color: transparent;
                padding: 0;
            }
            #slikleft{
                top: calc(50% - 2rem);
                background: $secondaryColor url(../img/right-arrow.svg) center / 1.2rem auto no-repeat;
                transform: rotate(180deg);
            }
            #slikright{
                top: calc(50% - 2rem);
                background: $secondaryColor url(../img/left-arrow.svg) center / 1.2rem auto no-repeat;
                right: 0;
            }
        }  
    }

    /*Section two*/
    .productDetails{
        p{
            font-size: 1.8rem;
            line-height: 2.7rem;
        }
        ul{
            li{
                padding-bottom: .4rem;
                a{
                    color: $secondaryColor;
                    text-decoration: underline;
                    font-size: 1.8rem;
                    font-family: 'Helvetica 45 Light', sans-serif;
                }
                a:hover{
                    text-decoration: inherit;
                }
                &::marker{
                    color: $secondaryColor;    
                    font-size: 2rem;
                }
            }
        }
        .contactBtn{
            display: inline-block;
            padding: 1.1rem 4rem;
            font-family: 'Rajdhani',sans-serif;
            font-weight: 700;
            font-weight: 600;
            color: $textWhite;
            font-size: 1.8rem;
            margin: 0;
            border: 1px solid $secondaryColor;
            border-radius: .5rem;
            transition: all .15s ease-in-out;
            text-decoration: none !important;
            background: $secondaryColor;
            &:hover{
                background-color: $btnHoverColor;
                border-color: $btnHoverColor;
            }
        }
    }
}

#sec3{
    padding-top: 4rem;
    padding-bottom: 6rem;
    // transform: skewY(.5deg);
    .show_productBtn{
        display: inline-block;
        padding: 0.8rem 4rem;
        font-family: 'Rajdhani',sans-serif;
        font-weight: 600;
        color: $textWhite;
        font-size: 1.8rem;
        margin: 0;
        border: 1px solid $secondaryColor;
        border-radius: .5rem;
        transition: all .15s ease-in-out;
        text-decoration: none !important;
        background: $secondaryColor;
    }

    .allProducts{
        .productRow{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 1rem;
            .productCol{
                margin: 1rem;
                flex-basis: calc(14.25% - 2rem);
                .colInner{
                    text-align: center;
                    padding: 1rem;
                    img{
                        height: 152px;
                        width: 152px;
                        object-fit: cover;
                    }
                    h3{
                        font-size: 2.16rem;
                        margin: 2rem 0;
                        font-family: 'Rajdhani',sans-serif;
                        font-weight: 700;
                        &:hover{
                            color: $secondaryColor;
                        }
                    }
                }
            }
        }
    }
}

#sec4{
    padding: 6rem 0rem;
    padding-bottom: 10rem;
    background-color: #E2E9EC;
    .secTitle{
        text-align: center;
        margin: 2rem 0rem;
    }
    .feature{
        margin-top: 6rem;
        >.col-md-6{
            padding-right: 5rem;
            img{        
                border-radius: 1rem;
                box-shadow: 0 0 30px #00315640;
            }
        }
        .featureDetails{
            position: relative;
            .reasons{
                &::before{
                    content: "";
                    width: 1px;
                    height: 100%;
                    left: 8rem;
                    background: #b3c9d8;
                    display: block;
                    position: absolute;
                }
                .reason{
                    display: flex;
                    margin-bottom: 3rem;
                    .number {
                        font-family: 'Rajdhani',sans-serif;
                        font-weight: 700;
                        font-size: 7.2rem;
                        margin-right: 6rem;
                        min-width: 5rem;
                        margin-top: -1rem;
                        text-align: right;
                        
                    }
                    &:not(:last-child){
                        color: $secondaryColor;
                    }
                    .reason-title{
                        font-size: 3rem;
                        margin-top: 0;
                        margin-bottom: 1rem;
                        font-weight: 700;
                    }
                    &:not(:last-child) .reason-title{
                        color: $secondaryColor;
                    }
                    .text p{
                        font-size: 1.6rem;
                        line-height: 2.7rem;
                        color: #000;
                        margin: 0;
                    }
                }
            }
            
        }
    }
}

#sec5{
    padding: 9rem 0rem;
    background-color: #F5F7F8;
    .workCont{
        >.col-md-5{
            padding-right: 7rem;
            img{
                border-radius: 1rem;
                box-shadow: 0 0 30px #00315640;
            }
        }
        .workCol2{
            ul{
                counter-reset: item;
                list-style: none;
                margin: 2rem 0;
                padding-left: 0;
                font-size: 1.8rem;
                line-height: 2.7rem;
                text-align: left;
                li{
                    padding-bottom: 0.5rem;
                    position: relative;
                    padding-left: 3rem;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 1rem;
                        top: 0.8rem;
                        background: #009ee2;
                        border-radius: 50%;
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                }
            }
            .text-wrapper{
                h3{
                    font-size: 2.16rem;
                    font-weight: 700;
                }
            }
        }
    }
    .secTitle{
        text-align: center;
        margin-bottom: 4rem;
        font-size: 3.6rem;
    }
}

#sec6{
    background-color: #2A3A45;
    padding: 7rem 0rem;
    color: $textWhite;
    .column{
        padding: 0 2rem;
        .column-icon-title{
            display: flex;
            margin-bottom: 3rem;
            h3{
                text-align: center;
                font-weight: 500;
                font-family: 'Rajdhani',sans-serif;
                font-weight: 700;
                font-size: 3.6rem;
                margin-left: 2rem;
                margin-bottom: 3rem;
                color: #fff;
                text-align: left;

            }
        }
        ul{
            li{
                font-size: 1.8rem;    
                // padding-bottom: 0.5rem;
                margin: 1rem 0;
            }
        }
    }
}

#sec7{
    padding: 8rem 0rem;
    background-color: #F5F7F8;
    .secTitle{
        text-align: center;
        font-size: 3.6rem;
    }
    .partners{
        margin-top: 6rem;
        .workCol2{
            p{
                margin-bottom: 2rem;
            }
            ul{
                font-size: 1.6rem;
                line-height: 2.4rem;
                padding-left: 1rem;
                margin: 2rem 0rem;
                li{
                    padding-left: 3.6rem;
                    position: relative;
                    list-style: none;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 1rem;
                        top: 0.8rem;
                        background: #009ee2;
                        border-radius: 50%;
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                    a{
                        text-decoration: underline;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
            .secBtn{
                cursor: pointer;
                display: inline-block;
                padding: 1.2rem 4rem;
                font-family: 'Rajdhani',sans-serif;
                font-weight: 700;
                font-weight: 600;
                color: #fff;
                font-size: 1.8rem;
                margin: 0;
                border: 1px solid #009ee2;
                border-radius: 0.5rem;
                transition: all .15s ease-in-out;
                text-decoration: none !important;
                background: #009ee2;
            }
        }
       
    }
}


#sec8{
    padding-top: 7rem;
    padding-bottom: 10rem;
    .secTitle{
        text-align: center;
        font-size: 3.6rem;
    }
    .references-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 5rem;
        img{
            object-fit: contain;
            max-height: 12rem;
            width: auto;
            padding: 0px 16px;
        }
    }
}

#sec9{
    padding: 7rem 0rem;
    background-color: #F5F7F8;
    .documents{
        max-width: calc(90rem + (2 * 6rem ));
        h1{
            text-align: center;
        }
        .column{
            h2{
                font-size: 2.7rem;
                font-weight: 700;
            }
            ul{
                counter-reset: item;
                list-style: none;
                margin: 2rem 0;
                padding-left: 0;
                font-size: 1.8rem;
                line-height: 2.7rem;
                text-align: left;
                li{
                    padding-left: 3.6rem;
                    padding-bottom: 0.5rem;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 1rem;
                        top: 0.8rem;
                        background: #009ee2;
                        border-radius: 50%;
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                    a{
                        color: $secondaryColor;
                        text-decoration: underline;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .row{
            margin-top: 6rem;
        }
    }
}

#sec10{
    // padding: 8rem 0rem;
    padding-top: 9rem;
    background-color: #E2E9EC;
    .person{
        display: flex;
        align-items: flex-start;
        margin-bottom: 4rem;
        .image-wrapper{
            margin-right: 3rem;
            flex-shrink: 0;
            img{
                width: 12rem;
                height: 12rem;
                border-radius: 0.5rem;
                box-shadow: 0 0 10px #00315640;
            }
        }
        .info{
            margin-right: 3rem;
            .name{
                font-size: 3rem;
                margin-top: 0;
                margin-bottom: 1rem;
                font-weight: 700;
            }
            .phone, .email{
                padding-left: 3.4rem;
                color: #3b3f5e;
                font-family: 'Rajdhani',sans-serif;
                font-weight: 700;
                font-size: 2.2rem;
                line-height: 3.6rem;
            }
            .phone{
                display: block;
                margin-top: 2rem;
                background: url(../img/phone.svg) left center / auto 2rem no-repeat;
            }
            .email{
                background: url(../img/icon-email.svg) left center / auto 2rem no-repeat;
                font-size: 1.8rem;
                line-height: normal;
                display: block;
            }
        }
    }
    .address{
        background: #f5f7f8;
        padding: 2rem;
        margin-bottom: 3rem;
        display: flex;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        .image-wrapper{
            margin-right: 3rem;
            margin-top: 0.5rem;
            flex-shrink: 0;
            img{
                width: 5rem;
                height: 5rem;
            }
        }
        p{
            font-size: 1.8rem;
            margin-top: 0;
            font-family: 'Rajdhani',sans-serif;
            font-weight: 700;
            line-height: 2.2rem;
            margin-bottom: 1rem;
        }
    }
    .contat_form{
        .form{
            width: 74rem;
            min-height: 46rem;
            box-shadow: 0 0 30px #00315640;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            margin-top: -13rem;
            background: #fff;
            overflow: hidden;
            padding: 3rem;
            margin-left: -3.4rem;
            color: #3b3f5e;
            h2{
                font-size: 2.7rem;
                margin: 2rem 0;
            }
            .form-wrapper{
                label{
                    font-size: 1.6rem;
                    font-family: 'Rajdhani',sans-serif;
                    font-weight: 700;
                    display: block;
                    min-height: 2.3rem;
                    span{
                        color: red;
                        font-weight: 600;
                        font-size: 1.8rem;
                    }
                }
                .inputs-wrapper{
                    display: flex;
                    flex-wrap: wrap;    
                    margin: -1rem -2rem;
                    .input-wrapper{
                        flex-basis: calc(50% - 4rem);
                        margin: 1rem 2rem;
                    }
                }
                input{
                    border: 1px solid #b3c9d8;
                    border-radius: 0.3rem;
                    padding: 0.6rem 1.5rem;
                    box-shadow: inset 0 3px 5px #dde9f1;
                    transition: all .15s ease-in-out;
                    font-family: 'Rajdhani',sans-serif;
                    font-weight: 700;
                    font-size: 1.8rem;
                    display: inline-block;
                    background: #fff;
                    width: 100%;
                    color: #3b3f5e;
                    &::placeholder {
                        color: #8bb5c9;
                    }
                    &:focus-visible{
                        border: 1px solid #b3c9d8;
                        outline: inherit;
                    }
                }
            }
            .textarea-wrapper{
                margin-top: 2rem;
                textarea{
                    border: 1px solid #b3c9d8;
                    border-radius: 0.3rem;
                    padding: 0.6rem 1.5rem;
                    box-shadow: inset 0 3px 5px #dde9f1;
                    transition: all .15s ease-in-out;
                    font-family: 'Rajdhani',sans-serif;
                    font-weight: 700;
                    font-size: 1.8rem;
                    display: inline-block;
                    background: #fff;
                    width: 100%;
                    color: #3b3f5e;
                    &::placeholder {
                        color: #8bb5c9;
                    }
                    &:focus-visible{
                        outline: inherit;
                    }
                }
            }
            .submit-wrapper{
                margin-top: 3rem;
                input[type="submit"]{
                    cursor: pointer;
                    display: inline-block;
                    padding: 1.2rem 4rem;
                    font-family: 'Rajdhani',sans-serif;
                    font-weight: 700;
                    font-weight: 600;
                    color: #fff;
                    font-size: 1.8rem;
                    margin: 0;
                    border: 1px solid #009ee2;
                    border-radius: 0.5rem;
                    transition: all .15s ease-in-out;
                    text-decoration: none !important;
                    background: #009ee2;
                }
            }
        }
    }
}

.footer {
    background: #142632;
    padding-top: 6rem;
    position: relative;
    z-index: 10;
    .footer-menu{
        text-align: center;
        margin-top: -2rem;
        li{
            display: inline-block;
            a{
                color: #fff;
                font-size: 1.6rem;
                padding: 0.5rem 2rem;
            }
        }
    }
    .footer-images{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3rem 0;
        .logo-wrapper{
            .logo-wrapper{
                img {
                    width: 20rem;
                    height: auto;
                    margin-left: 0;
                    margin-right: 3rem;
                }
            }            
            .other-logos{
                margin-left: 3rem;
            }
        }
    }
    .copyright {
        border-top: 1px solid #b3c9d8;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-size: 1.2rem;
            color: #fff;
        }
        img{
            height: 2.4rem;
            width: auto;
        }
    }
}



/**---------------------------------------
-----------------responsive
----------------------------------------**/

// header

@media(max-width: 468px){
    .headerBanner{
        padding-bottom: 14rem;
        .container .headerWrapper{
            max-width: 100%;
            width: 100%;
            h1{
                font-size: 3.4rem;
                line-height: 4rem;
            }
            h3{
                font-size: 1.8rem;
            }
        }
    }
    #section2{
        .row{
            flex-direction: column-reverse;
        }
    }
    #sec10{
        .person {
            flex-wrap: wrap;
            .info{
                width: 100%;
                margin-right: 0;
                margin-top: 3rem;
                .phone{
                    margin-top: 0px;
                }
            }
        }
        .contat_form .form{
            width: 100%;
            margin-left: 0;
            margin-top: 0rem;
            .form-wrapper .inputs-wrapper .input-wrapper{
                flex-basis: 100%;
                margin: 0.5rem 2rem;
            }
        }
    }
}

@media(max-width: 768px){
    .container{
        padding: 0 3rem;
    }
    #headerMenu .navWrapper nav .navCont li a{
        padding: .4rem 3rem;
    }
    #section2{
        .row{
            flex-direction: column-reverse;
            .productGallry{
                padding-right: 0;
            }
            .productGallry{
                .galleryMain{
                    margin-top: 4rem;
                }
            }
        }
        
    }
    #sec3 .allProducts .productRow .productCol{
        flex-basis: calc(49.25% - 2rem);
    }
    #sec4 .feature{
        >.col-md-6{
            padding-right: 1rem;
            padding-bottom: 4rem;
        }
    }
    #sec5{
        .row{
            flex-direction: column-reverse;
        }
    }
    #sec6 .column{
        padding-bottom: 5rem;
        .column-icon-title{
            margin-bottom: 1rem;
            h3{
                font-size: 2.7rem;
            }
        }
        li{
            font-size: 1.6rem;
        }
    }
    #sec7{
        .secTitle{
            font-size: 2.7rem;
        }
        .partners{
            margin-top: 3rem;
        }
    }

    #sec8{
        padding-bottom: 5rem;
        .references-wrapper{
            flex-wrap: wrap;
            .reference{
                padding: 2rem 0rem;
            }
        }
    }
    #sec10 .contat_form .form{
        width: 100%;
        margin-left: 0;
        margin-top: 0rem;
        .form-wrapper .inputs-wrapper .input-wrapper{
            // flex-basis: 100%;
            margin: 0.5rem 2rem;
        }
    }
    #sec10 .person {
        flex-wrap: wrap;
        .info{
            width: 100%;
            margin-right: 0;
            margin-top: 3rem;
            .phone{
                margin-top: 0px;
            }
        }
    }

    footer.footer{
        padding-top: 2rem;
        .footer-menu{
            display: none;
        }
        .footer-images{
            justify-content: center;
            .logo-wrapper{
                img{
                    width: 126px;
                }
            }
        }
        .other-logos{
            display: none;
        }
    }
}

// tablet
@media(min-width: 769px) and (max-width: 1024px){
    .container{
        padding: 0 3rem;
    }
    .headerBanner{
        .container{
            .headerWrapper{
                max-width: 74%;
            }
        }
    }
    // navbr
    #headerMenu .navWrapper nav .navCont li a{
        padding: 3rem 1.2rem;
    }
    #headerMenu.onSticky .navWrapper nav .navCont li a{
        padding: 2rem 1.2rem;
    }
    #sec3{
        .allProducts{
            .productRow{
                .productCol{
                    flex-basis: calc(16.66% - 2rem);
                }
            }
        } 
    }

    #sec10 .contat_form .form{
        width: 58rem;
        margin-left: 0;
        margin-top: 0rem;
    }
    #sec10 .person {
        flex-wrap: wrap;
        .info{
            width: 100%;
            margin-right: 0;
            margin-top: 3rem;
            .phone{
                margin-top: 0px;
            }
        }
    }
    .footer{
        .logo-wrapper img{
            width: 20rem;
        }
        .footer-images img{
            margin-left: 3rem;
        }
    }
    
}

//medium 
@media(min-width: 1025px) and (max-width: 1440px){
    
}

// larg 
@media(min-width: 1441px){
    
}